
<div class="container ">
  <div>
    <h1>{{nombre}}</h1>

  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col s6">
        <div class="card hoverable z-depth-5">
          <div class="card-image">
            <img src="../images/ahri.jpg">
          </div>
          <div class="card-content cyan lighten-5">
            <h4>{{alias}}</h4>
            <p class="text-center">Ahri es una vastaya conectada de forma innata
               al poder latente de Runaterra, y es capaz de convertir la magia en orbes de energía pura.
               Le gusta jugar con su presa, manipulando sus emociones antes de devorar su esencia de vida.
              A pesar de su naturaleza depredadora, Ahri posee cierto sentido de la empatía,
              ya que recibe recuerdos de cada alma que consume.</p>
          </div>

        </div>
      </div>
  </div>
</div>
