


<div class="container">

  <div>
    <h1>{{nombre}}</h1>

  </div>
</div>
<div class="container">
  <div class="row">
     <div class="col s6 ">
       <div class="card hoverable z-depth-5">
         <div class="card-image">
           <img src="../images/Garen.jpg">
         </div>
         <div class="card-content  cyan lighten-5">
           <h4>{{alias}}</h4>
           <p>Como un orgulloso y noble guerrero, Garen forma parte de la Vanguardia Valerosa.
              Es popular entre sus compa침eros y bastante respetado por sus enemigos.
              Es descendiente de la prestigiosa familia Guardia de la Corona y
              se le confi칩 la tarea de defender a Demacia y sus ideales.
              Vistiendo una armadura resistente a la magia y empu침ando
              una gran espada, Garen est치 listo para enfrentar a los magos y hechiceros
              en el campo de batalla con su imparable remolino de acero justiciero.</p>
         </div>
       </div>
     </div>
   </div>


</div>
